image: Visual Studio 2019
configuration: Release
platform: Any CPU

install:
  - choco install gitversion.portable -pre -y

before_build:
  - ps: gitversion /l console /output buildserver
  - ps: $env:PackageVersion=$env:GitVersion_NuGetVersion
  - ps: $env:AssemblyVersion=$env:GitVersion_AssemblySemVer
  - ps: $env:FileVersion=$env:GitVersion_MajorMinorPatch.0
  - ps: $env:InformationalVersion=$env:GitVersion_InformationalVersion
  - ps: $env:PackageOutputPath="$env:APPVEYOR_BUILD_FOLDER\pkg"
  - nuget restore
  - dotnet restore

build:
  verbosity: minimal
  project: Cogito.ServiceFabric.sln

artifacts:
  - path: pkg\*.nupkg
    name: Cogito.ServiceFabric

deploy:
  provider: NuGet
  server: https://www.myget.org/F/wasabi/api/v2/package
  api_key:
    secure: eVqz7WA5qta1rcr/A4+9uF6vdBTZ4joL7T3iKrFjZuNyY4+Fub5xYyTg/rLoAQ+B
  skip_symbols: false
  symbol_server:
  artifact: Cogito.ServiceFabric/*.nupkg
